.sendForm {
    display: flex;
}



.textarea {
    background: #F5F7FB;
    box-shadow: 0px 5px 20px rgba(29, 33, 38, 0.03), 0px 1px 2px rgba(29, 33, 38, 0.1);
    border-radius: 20px;
    resize: none;
    margin-right: 40px;
    display: inline-block;
    height: 40px !important;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    flex-grow: 1;
    padding: 10px 0;
}

.button {
    width: 120px;
    height: 40px;
    border-radius: 20px;
    background: #0066CC;
    color: white;
}

.button:hover {
    background: #0066CC;
    color: #002E5C;
}
.button:active {

}
